<table
  cellpadding="0"
  cellspacing="0"
  border="0"
  style="width: 100%"
  width="100%"
>
  <tbody>
    <tr>
      <td>
        <table
          cellpadding="0"
          cellspacing="0"
          width="100%"
          style="border-collapse: collapse; width: 100%; line-height: normal"
        >
          <tbody>
            <tr>
              <td
                height="0"
                style="height: 0; font-family: Arial; text-align: left"
              >
                <p style="margin: 1px">
                  <img
                    style="height: 57px; display: block"
                    src="https://images.squarespace-cdn.com/content/6553d7f8cd4d262412f78a9e/8b8dbdff-0e22-4a63-8835-e3305f6c1e0c/signoff.png?content-type=image%2Fpng"
                    alt="Kind regards,"
                    height="57"
                  />
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td
        height="0"
        style="height: 0; line-height: 1%; padding-top: 16px; font-size: 1px"
      ></td>
    </tr>
    <tr>
      <td>
        <table
          cellpadding="0"
          cellspacing="0"
          style="border-collapse: collapse; line-height: 1.15"
        >
          <tbody>
            <tr>
              <td
                style="
                  height: 1px;
                  width: 101px;
                  vertical-align: top;
                  padding: 0.01px 1px;
                "
              >
                <table
                  cellpadding="0"
                  cellspacing="0"
                  style="border-collapse: collapse"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          vertical-align: top;
                          padding: 0.01px 1px 0.01px 0.01px;
                          width: 101px;
                          text-align: center;
                        "
                      >
                        <img
                          border="0"
                          src="https://images.squarespace-cdn.com/content/6553d7f8cd4d262412f78a9e/effbadf0-33b1-4f44-976c-dcc67649a6db/emaillogo.png?content-type=image%2Fpng"
                          height="101"
                          width="101"
                          alt="photo"
                          style="
                            width: 101px;
                            vertical-align: middle;
                            border-radius: 0;
                            height: 101px;
                            border: 0;
                            display: block;
                          "
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td
                valign="top"
                style="padding: 0.01px 0.01px 0.01px 14px; vertical-align: top"
              >
                <table
                  cellpadding="0"
                  cellspacing="0"
                  style="border-collapse: collapse"
                >
                  <tbody>
                    <tr>
                      <td
                        style="
                          line-height: 1.2;
                          padding: 0.01px 0.01px 14px 0.01px;
                          border-bottom: solid 2px #bdbdbd;
                        "
                        nowrap=""
                      >
                        <p
                          style="
                            margin: 0.1px;
                            line-height: 120%;
                            font-size: 16px;
                          "
                        >
                          <font color="#6182b3" face="Arial"
                            ><b>Jess Koch</b></font
                          ><br /><span
                            style="
                              font-family: Arial;
                              font-size: 13px;
                              font-weight: bold;
                              color: #646464;
                              white-space: nowrap;
                            "
                            >Love's Legacy Rescue</span
                          >
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td
                        nowrap=""
                        width="188"
                        height="0"
                        style="
                          height: 0;
                          padding-top: 14px;
                          white-space: nowrap;
                          width: 188px;
                          font-family: Arial;
                        "
                      >
                        <p
                          style="margin: 1px; line-height: 99%; font-size: 12px"
                        >
                          <span style="white-space: nowrap"
                            ><a
                              href="https://www.loveslegacyrescue.com"
                              style="font-family: Arial; text-decoration: none"
                              rel="nofollow noreferrer"
                              target="_blank"
                              ><span
                                style="
                                  line-height: 120%;
                                  font-family: Arial;
                                  font-size: 12px;
                                  color: #212121;
                                  white-space: nowrap;
                                "
                                >www.loveslegacyrescue.com</span
                              ></a
                            ></span
                          >
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td
                        nowrap=""
                        width="233"
                        height="0"
                        style="
                          height: 0;
                          padding-top: 8px;
                          white-space: nowrap;
                          width: 233px;
                          font-family: Arial;
                        "
                      >
                        <p
                          style="margin: 1px; line-height: 99%; font-size: 12px"
                        >
                          <span style="white-space: nowrap"
                            ><a
                              href="mailto:adoptions@loveslegacyrescue.com"
                              style="font-family: Arial; text-decoration: none"
                              rel="nofollow noreferrer"
                              target="_blank"
                              ><span
                                style="
                                  line-height: 120%;
                                  font-family: Arial;
                                  font-size: 12px;
                                  color: #212121;
                                  white-space: nowrap;
                                "
                                >jess@loveslegacyrescue.com</span
                              ></a
                            ></span
                          >
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td
                        height="0"
                        style="height: 0; padding: 14px 0.01px 0.01px 0.01px"
                      >
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td
                                align="left"
                                style="
                                  padding-right: 6px;
                                  text-align: center;
                                  padding-top: 0;
                                "
                              >
                                <p style="margin: 1px">
                                  <a
                                    href="https://www.instagram.com/loveslegacyrescue/"
                                    rel="nofollow noreferrer"
                                    target="_blank"
                                    ><img
                                      width="24"
                                      height="24"
                                      src="https://images.squarespace-cdn.com/content/6553d7f8cd4d262412f78a9e/25ac9b81-fb9c-4eea-9053-432bc8ffff1e/instagramLogo.png?content-type=image%2Fpng"
                                      style="float: left; border: none"
                                      border="0"
                                      alt="instagram"
                                  /></a>
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td
        height="0"
        style="height: 0; line-height: 1%; padding-top: 16px; font-size: 1px"
      ></td>
    </tr>
    <tr>
      <td>
        <table
          style="
            border-collapse: collapse;
            padding-right: 8px;
            width: 100%;
            font-size: 12px;
            line-height: normal;
          "
          cellspacing="0"
          cellpadding="0"
          border="0"
        >
          <tbody>
            <tr>
              <td
                align="left"
                height="0"
                style="height: 0; text-align: left; line-height: 1"
              >
                <p style="margin: 1px">
                  <a
                    href="https://www.loveslegacyrescue.com/donate"
                    rel="nofollow noreferrer"
                    style="display: block; text-decoration: none; font-size: 0"
                    target="_blank"
                    ><img
                      src="https://images.squarespace-cdn.com/content/6553d7f8cd4d262412f78a9e/5cfe6e32-b557-4ea4-9a2e-91953105a5ba/donateButton.png?content-type=image%2Fpng"
                      height="41"
                      alt="Custom Button App"
                  /></a>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td
        height="0"
        style="height: 0; line-height: 1%; padding-top: 16px; font-size: 1px"
      ></td>
    </tr>
  </tbody>
</table>
